[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "r6qualitytools"]
	path = r6qualitytools
	url = https://github.com/fabianenc/r6qualitytools
